<div class="row">
    <div class="container">
        <div class="card-panel teal center-align" style="padding:1px">
            <span class="white-text">
                <p>
                    La question de cet évènement
                </p>
            </span>
        </div>
    </div>
</div>