@model treasurehunt.Core.Data.Models.Quest.StoryEvent

<h2 class="center-align">Edit event number @Model.Number</h2>
<div class="divider"></div>
<a asp-action="Details" asp-controller="StoryEvent" asp-route-idEvent="@Model.Id" class=" waves-light btn">Back to event</a>
<div class="divider"></div>
<!--Form to edit event-->
<div class="row">
    <div class="col s12 center-align">
        <form asp-action="EditPost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
            </div>
            <input type="hidden" asp-for="Id" />

            <div class="row">
                <div class="input-field col s2">
                    <input asp-for="Number" type="text" class="validate" />
                    <label asp-for="Number">Number</label>
                    <span asp-validation-for="Number" class="text-danger"></span>
                </div>

                <div class="input-field col s10">
                    <input asp-for="Title" type="text" class="validate" />
                    <label asp-for="Title">Title</label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea asp-for="Description" class="materialize-textarea"></textarea>
                    <label asp-for="Description">Description</label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
</div>

