
<div class="row " style="margin-top:20%">
    <div class="col s12">
        <div class="center-align" >
            <a asp-controller="Home" asp-action="Create" class="waves-effect waves-light btn-large maize" style="color:black">Commencer l'aventure !</a>
        </div>
    </div>
</div>

